{"zaterdag": [], "maandag": [], "woensdag": [], "zondag": [], "dinsdag": [{"nick": "Fugu", "quantity": 1}, {"nick": "Martijn", "quantity": 1}], "donderdag": [{"nick": "Panter", "quantity": 1}], "vrijdag": []}